/* Keep hex in sync with color_schemes/sway.conf */

* {
    font-family: monospace;
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background: #100909;
    color: #99e01c;
    border: 2px solid #de1062;
    min-height: 40px;
}

#workspaces {
    margin: 0;
    padding: 0 2px;
}

#workspaces button {
    background: #090909;
    color: #de1062;
    border: 1px solid #99e01c;
    border-radius: 0;
    padding: 2px 4px;
    margin: 4px 2px;
}

#workspaces button.focused,
#workspaces button.active {
    background: #090909;
    color: #99e01c;
    border-color: #99e01c;
}

#workspaces button.urgent {
    background: #000000;
    color: #de1062;
    border-color: #de1062;
}

#clock {
    color: #99e01c;
    padding: 0 12px;
}
